# address the api's http listener binds to
API_HTTP_ADDRESS=localhost:8000

# OpenID address for the Steam callback to use
API_OID_REALM=http://localhost:8000

# when true, sets session cookies to be Secure - requiring HTTPS for transmission.
# keep this false when testing locally or in an environment without HTTPS setup.
API_SESSION_COOKIE_SECURE=false

# encryption secret used when signing the session JWT. This value may only be used
# during testing. The production signing secret is not saved in a .env variable
# and may be invalidated at any time.
API_SESSION_TOKEN_SECRET=testsecret

# steam API key used to make profile requests.
# https://steamcommunity.com/dev/apikey
API_STEAM_API_KEY=

# if set to true, pgx will log traces to stdout
API_DB_TRACE_LOG=false

# determines the minimum level required for a log to be output by slog
# valid values are Debug, Info, Warn, and Error
API_SLOG_LEVEL=Debug

# set the type of handler used by slog
# valid values are Text and JSON
API_SLOG_MODE=Text

# Configures the address the http listener binds to
API_HTTP_ADDRESS=localhost:8000

# various envvars used for configuring HTTP logging
API_HTTPLOG_MODE=Text
API_HTTPLOG_LEVEL=Debug
API_HTTPLOG_CONCISE=true
API_HTTPLOG_REQUEST_HEADERS=Origin
API_HTTPLOG_RESPONSE_HEADERS=
API_HTTPLOG_REQUEST_BODIES=true
API_HTTPLOG_RESPONSE_BODIES=true